<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="2" parallel="tests" thread-count="2">
	<parameter name="browserName" value="chrome"></parameter>
	<listeners>
		<listener class-name="com.crest.utils.ScreenshotUtils"></listener>
	</listeners>
<!-- 
	 <test name="PlaceBidTest">
		<classes>
			<class name="com.ebay.tests.PlaceBidTest" />
		</classes>
	</test>  -->

	<!-- <test name="SearchProductTest">
	 <parameter name="browserName" value="chrome"></parameter> 
		<classes>
		 <class name="com.ebay.tests.SearchProductTest" />
		 </classes>
		</test> -->
	<!-- <test name="SelectCategoryTest"> <parameter name="browserName" value="firefox"></parameter> 
		<classes> <class name="com.ebay.tests.SelectCategoryTest" /> </classes> </test> -->
	<!-- <test name="SignInTest">
	<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class name="com.ebay.tests.SignInTest" />
		</classes>
	</test> -->
	<test name="HighestPriceFirstTest">
	<classes>
	<class name="com.ebay.tests.HighestPriceFirstTest"></class>
	</classes>
	</test> 
	
</suite>